@import url("https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

.spinner {
  width: 64px;
  height: 64px;
  background: url("../src/pictures/spinner.gif");
  margin: 20px;
}

.loading_div {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: 100;
  font-family: "Exo", sans-serif;
  font-size: 25px;
  margin-left: 15px;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./pictures/d_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 15px;
}

.useBar {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

.left ul li {
  display: inline-block;
  margin: 0px 20px;
}
.right {
  display: flex;
  margin-right: 20px;
  position: relative;
}

.searchInput {
  width: 250px;
  height: 50px;
  padding-left: 5px;
  padding-bottom: 10px;
  border: none;
  border-bottom: black 1px solid;
  outline: none;
  font-size: 1.2em;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: black;
  outline: none;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  background-image: url("./pictures/search.png");
  background-size: 1.3em;
  background-repeat: no-repeat;
  background-position: center center;
}

.searchButton:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.newsBody {
}

.articlesCards {
  width: 80%;
  margin: 0px auto;
}

.cardArticle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 349px;
  height: 200px;
}
.card {
  width: 350px;
  height: 400px;
  margin: 20px;
  box-shadow: 0px 0px 25px 1px #ccc;
}

.title {
  margin: 10px 0px;
}
